@charset 'utf-8';

//Vendor
@import "vendor/__vendor-dir";

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

//Vendors
@import "vendor/__vendor-dir";

//Layout
@import "layouts/__layouts-dir";

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background: #fdfbfa;
  padding: 5px;
  height: 100vh;
  margin: 0;
}
