* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background: #fafaff;
  padding: 5px;
  height: 100vh;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
}

.page-header {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}

.hamburger,
.close {
  font-size: 2rem;
  color: #00bff3;
}

nav {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

nav li {
}
/* nav li:hover { */

nav a {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
}

nav a:focus {
  background-color: #f0c808;
  color: black;
}

nav a:hover {
  color: #ff583d;
  background-color: #f0c808;
}

.about-me h2 {
  font-weight: 500;
  font-size: 3rem;
  margin: 0rem;
  padding-top: 1rem;
}

.about-me h3 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0rem;
}

.skills h2,
.projects h2 {
  font-size: 2.5rem;
  font-family: "Crimson Text", serif;
}

.projects h2,
h4 {
  color: #274156;
}

.skills h4,
.projects h4 {
  font-size: 2rem;
}

.screenshot {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fafaff;
  display: inline-block;
}

li {
  text-align: center;
}

td {
  text-align: center;
}

.ross-logo {
  max-width: 35vw;
  padding: 3vw 2vw 0;
}

.title {
  text-align: left;
  font-size: 2rem;
  display: flex;
}

.mission-statement {
  font-size: 1rem;
  text-align: left;
  max-width: 40vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mission-statement h2 {
  margin: 0 0 0 0;
}

.mission-statement p {
  font-size: 1.5vh;
}
.navicon {
  display: block;
  color: white;
  font-size: 2.5rem;
}

.codeicon {
  width: 3rem;
}
tr {
  padding-bottom: 10%;
}
.skills {
  padding: 0rem 5rem 5rem 5rem;
  grid-row: 3;
  grid-column: 1 / span 2;
  background: #5f7367;
  text-align: left;
  color: #fafaff;
  width: 100%;
}
.about-me {
  display: flex;
  text-align: left;
  justify-content: space-between;
  color: #274156;
  padding: 5rem 5rem 1rem 5rem;
  margin-top: 2rem;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
}
.projects {
  width: 100%;
  background: #fafaff;
  padding: 0rem 5rem 1rem 5rem;
  margin: 1rem auto;
}

.image-container {
  text-align: center;
  object-fit: cover;
}

.project-one,
.project-two,
.project-three {
  display: flex;
  /* padding: 2vh; */
  margin-bottom: 2vh;
  font-size: 1rem;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.project-text p {
  color: #274156;
  font-size: 1.5vh;
  padding-left: 10%;
}
.projects a {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
}

.page-footer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1 / -1;
  grid-row: 5;
  text-align: center;
  background: #0e0f19;
  color: #fafaff;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-align: center;
  width: 6rem;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* .active {
  color: #ff583d;
  background-color: #c5e5ed;
  border-top: 5px solid #00bff3;
  border-bottom: 5px solid #00bff3;
} */

/* @media only screen and (max-width: 600px) {
  .ross-logo {
    max-width: 100vw;
  }
} */

/* @media only screen and (max-width: 768px) {
  .ross-logo {
    max-width: 100vw;
  }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .skills,
  .about-me,
  .projects {
    padding: 0rem 1rem 1rem 1rem;
    flex-direction: column-reverse;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  ...;
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .skills,
  .about-me,
  .projects {
    padding: 0rem 1rem 1rem 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  ...;
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .main-container {
    max-width: 2000px;
  }
} */
