@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background: #fdfbfa;
  padding: 5px;
  height: 100vh;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

.page-header {
  background-color: #181a23;
}

.hamburger,
.close {
  font-size: 2rem;
  color: #fdfbfa;
}

nav {
  /* margin: 1rem auto; */
  background-color: #181a23;
  padding: 1rem;
  z-index: 1000;
  display: flex;
  position: absolute;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* animate slide up and down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

nav:target {
  transform: translateY(0);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
}

nav a:focus {
  background-color: #f0c808;
  color: black;
}

a:hover {
  color: #ff583d;
  background-color: #f0c808;
}

.about-me h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0rem;
  padding-top: 1rem;
}

.about-me h3 {
  font-size: 1rem;
  margin: 0;
}

.skills h2,
.projects h2 {
  padding-left: 0.5rem;
  font-size: 2rem;
}

.projects h2,
h3 {
  color: #181a23;
  font-weight: bolder;
  margin: 0;
}

.skills h3,
.projects h3 {
  font-size: 1.5rem;
  padding-left: 10%;
  font-weight: bolder;
}

.screenshot {
  max-width: 90vw;
  padding: 10% 0% 5% 0%;
}

.allcity-screenshot {
  padding: 5% 0% 0% 0%;
}

a {
  text-decoration: none;
  color: #fdfbfa;
  display: inline-block;
}

li {
  text-align: center;
}

.ross-logo {
  width: 90%;
}

.title {
  text-align: left;
  font-size: 2rem;
  display: flex;
}

.mission-statement {
  text-align: left;
  /* max-width: 50vw; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mission-statement h2 {
  margin: 0;
}

.mission-statement p {
  font-size: clamp(0.75rem, 2.5vw, 1.25rem);
  max-width: 500px;
}
.navicon {
  display: block;
  color: #fdfbfa;
  font-size: 2rem;
  padding-top: 1rem;
}

.fa-bars {
  font-size: 2rem;
  padding: 10px;
}

.codeicon {
  width: 3rem;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / span 2;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  background: #576467;
  text-align: left;
  color: #fdfbfa;
  width: 100%;
  padding-bottom: 1.5rem;
}
.about-me {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  background-color: #fdfbfa;
  color: #181a23;
  padding: 0.5rem;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
}
.projects {
  width: 100%;
  background: #fdfbfa;
  /* padding: 0rem 5rem 1rem 5rem; */
  margin: 1rem auto;
}

.image-container {
  text-align: center;
  object-fit: cover;
}

.project-one,
.project-two,
.project-three {
  display: flex;
  /* padding: 2vh; */
  margin-bottom: 2vh;
  font-size: 1rem;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.project-one,
.project-three {
  flex-direction: column;
}

.project-two {
  flex-direction: column-reverse;
}

.project-text p {
  color: #181a23;
  font-size: clamp(0.75rem, 2.5vw, 1.25rem);
  padding: 0% 10% 0% 10%;
  width: 85vw;
}
.project-links {
  text-align: center;
}
.projects a {
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.page-footer {
  width: 100%;
  min-height: 20%;

  background-color: #181a23;
  color: #fdfbfa;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  align-items: center;
  align-content: center;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(
    to bottom,
    #ededed 5%,
    #dfdfdf 100%
  );
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-align: center;
  width: 7rem;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(
    to bottom,
    #dfdfdf 5%,
    #ededed 100%
  );
  background-color: #dfdfdf;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  /* Styles */
  .page-header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav {
    border-bottom: 3px solid #484847;
    border-top: 3px solid #484847;
    padding: 0;
    position: static;
    height: auto;
    transform: translateY(0);
  }
  .hamburger,
  .close {
    display: none;
  }
  nav ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  .about-me {
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    /* color: #484847; */
    padding: 3rem;
    max-width: 1440px;
    margin: auto;
    margin-top: 110px;
    gap: 5vw;
  }
  .mission-statement p {
    width: 400px;
    font-size: 0.85rem;
  }
  .mission-statement h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  .mission-statement h3 {
    font-size: 2rem;
  }
  .logo-container {
    width: 500px;
  }
  .skills h2,
  .projects h2 {
    padding-left: 3rem;
    font-size: 2rem;
  }
  ul.page-links {
    justify-content: space-evenly;
  }
  .skills-wrapper {
    /* padding: 0rem 5rem 5rem 5rem; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / span 2;
  }

  .project-one,
  .project-two,
  .project-three {
    flex-direction: row;
  }
  .project-text p {
    width: 500px;
    font-size: 1rem;
    font-weight: 200;
  }
  .screenshot {
    max-width: 40vw;
  }
}
